        <div class="MainDiv">
            <div>
                <h2>
                AddUser
                </h2>
            </div>
        <div class="seconddiv">
           
            <form #userForm="ngForm" >       
                
            <div class="input" >
                <label class="Label"  > First Name </label>
                <input type="text" name="FirstName" [(ngModel)]="userModel.firstName" >
            </div>
            <div class="input" >
                <label class="Label"  > Last Name </label>
                <input type="text" name="LastName" [(ngModel)]="userModel.lastName" >
            </div>
            
            <div class="input">
                <label class="Label"> UserName </label>
                <input type="text"  name="Username" [(ngModel)]="userModel.username">
            </div>
            <div class="input">
                <label class="Label" > email </label>
                <input type="text" name="Email" [(ngModel)]="userModel.email" >
            </div>
            <div class="input">
                <label class="Label" > Password </label>
                <input type="text"name="PasswordHash" [(ngModel)]="userModel.passwordHash">
            </div>
            
            </form>
            <div>
                <button (click)="saveUser()" >Save</button>
                
            </div>
         </div>
        </div>
   