<div class="MainDiv">
    <div>
        <h2>
        AddUser
        </h2>
    </div>
<div class="secondiv">
   
    <form #userForm="ngForm" >       
         
    <div class="input" >
        <label class="inputL"  > First Name </label>
        <input type="text" name="FirstName" [ngModel]="userModel.firstName" >
    </div>
    <div class="input">
        <label class="inputL"  > Last Name </label>
        <input type="text"name="LastName"  [ngModel]="userModel.lastName">
    </div>
    <div class="input">
        <label class="inputL"> UserName </label>
        <input type="text"  name="username" [ngModel]="userModel.username">
    </div>
    <div class="input">
        <label class="inputL" > Email </label>
        <input type="text" name="Email" [ngModel]="userModel.email" >
    </div>
    
    
    </form>
    <div>
        <button (click)="saveUser()" >Save</button>
    </div>
 </div>
</div>